            csharp: if has_csharp {
                Some(CSharpConfig {
                    target_framework: default_csharp_target_framework(),
                    dependencies: HashMap::new(),
                })
            } else {
                None
            },
